{% macro comment_item(comment) %}
{% set date_fmt_title = "%a, %b %-d, %Y, %-I:%M %p" %}
{% set date_fmt_text = "%-m/%-d/%Y, %-I:%M %p" %}
<article class="co-comment-item" id="comment-{{ comment.comment.commentId }}">
    {% if comment.poster %}
    <a
        class="i-big-avatar co-drop-shadow"
        href="/{{ comment.poster.handle }}"
        title="@{{ comment.poster.handle }}">
        <img
            class="i-avatar co-avatar"
            data-shape="{{ comment.poster.avatarShape }}"
            src="{{ comment.poster.avatarURL }}"
            alt="{{ comment.poster.handle }}"
        />
    </a>
    {% endif %}
    <div class="i-comment">
        <div class="i-header">
            {% if comment.poster %}
            <img
                class="i-avatar co-avatar"
                data-shape="{{ comment.poster.avatarShape }}"
                src="{{ comment.poster.avatarURL }}"
                alt="{{ comment.poster.handle }}"
            />

            {% if comment.poster.displayName %}
            <a
                class="co-project-display-name"
                rel="author"
                href="/{{ comment.poster.handle }}"
                title="{{ comment.poster.displayName }}"
            >
                {{ comment.poster.displayName }}
            </a>
            {% endif %}

            <a
                class="co-project-handle"
                href="/{{ comment.poster.handle }}"
            >
                @{{ comment.poster.handle }}
            </a>
            {% else %}
            [deleted]
            {% endif %}

            <time
                class="i-timestamp"
                datetime="{{ comment.comment.postedAtISO }}"
                title="{{ comment.comment.postedAtISO | date(format = date_fmt_title) }}"
            >
                <a href="/{{ post.postingProject.handle }}/post/{{ post.filename }}#comment-{{ comment.comment.commentId }}">
                    {{ comment.comment.postedAtISO | date(format = date_fmt_text) }}
                </a>
            </time>
        </div>
        <div class="i-contents prose">
            {{ rendered_comments[comment.comment.commentId].html | safe }}
        </div>
    </div>
</article>
{% endmacro %}

{% macro comment_tree(comment) %}
<div class="co-comment-tree">
    {{ comments::comment_item(comment = comment) }}
    {% if comment.comment.children | length %}
    <div class="i-replies">
        {% for comment in comment.comment.children %}
        {{ comments::comment_tree(comment = comment) }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro comment_tree %}

{% macro render(post, comments) %}
{% if comments | length %}

<div class="co-comments">
    <h4 class="i-header">
        in reply to <a class="i-post-ref" href="#post-{{ post.postId }}">@{{ post.postingProject.handle }}'s post:</a>
    </h4>

    {% for thread in comments %}
    <div class="i-thread">
        {{ comments::comment_tree(comment = thread) }}
    </div>
    {% endfor %}
</div>

{% endif %}
{% endmacro %}
