{% macro co_post_header(post, show_shared_from) %}
{% set date_fmt_title = "%a, %b %-d, %Y, %-I:%M %p" %}
{% set date_fmt_text = "%-m/%-d/%Y, %-I:%M %p" %}
<div class="i-post-header">
    <img
        class="co-avatar i-avatar"
        data-shape="{{ post.postingProject.avatarShape }}"
        src="{{ post.postingProject.avatarURL }}"
        alt="{{ post.postingProject.handle }}"
    />

    {% if post.postingProject.displayName %}
    <a
        class="co-project-display-name"
        rel="author"
        href="/{{ post.postingProject.handle }}"
        title="{{ post.postingProject.displayName }}"
    >
        {{ post.postingProject.displayName }}
    </a>
    {% endif %}

    <a
        class="co-project-handle"
        href="/{{ post.postingProject.handle }}"
    >
        @{{ post.postingProject.handle }}
    </a>

    <time
        class="i-timestamp"
        datetime="{{ post.publishedAt }}"
        title="{{ post.publishedAt | date(format = date_fmt_title) }}"
    >
        <a href="/{{ post.postingProject.handle }}/post/{{ post.filename }}">
            {{ post.publishedAt | date(format = date_fmt_text) }}
        </a>
    </time>

    {% set shared_from = post.shareTree | last %}
    {% if show_shared_from and shared_from %}

    <svg class="i-share-icon" viewBox="0 0 24 24" height="24" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0112.548-3.364l1.903 1.903h-3.183a.75.75 0 100 1.5h4.992a.75.75 0 00.75-.75V4.356a.75.75 0 00-1.5 0v3.18l-1.9-1.9A9 9 0 003.306 9.67a.75.75 0 101.45.388zm15.408 3.352a.75.75 0 00-.919.53 7.5 7.5 0 01-12.548 3.364l-1.902-1.903h3.183a.75.75 0 000-1.5H2.984a.75.75 0 00-.75.75v4.992a.75.75 0 001.5 0v-3.18l1.9 1.9a9 9 0 0015.059-4.035.75.75 0 00-.53-.918z" clip-rule="evenodd"></path>
    </svg>

    <img
        class="co-avatar i-avatar"
        data-shape="{{ shared_from.postingProject.avatarShape }}"
        src="{{ shared_from.postingProject.avatarURL }}"
        alt="{{ shared_from.postingProject.handle }}"
    />

    <a
        class="co-project-display-name"
        rel="author"
        href="/{{ shared_from.postingProject.handle }}"
        title="{{ shared_from.postingProject.displayName }}"
    >
        {{ shared_from.postingProject.displayName }}
    </a>

    <a
        class="co-project-handle"
        href="/{{ shared_from.postingProject.handle }}"
    >
        @{{ shared_from.postingProject.handle }}
    </a>

    {% endif %}
</div>
{% endmacro co_post_header %}

{% macro co_post_contents(post, expand, skip_headline) %}
<div class="co-post-contents">
    {%- if post.headline and not skip_headline %}
    <div class="i-headline">
        <a class="prose" href="/{{ post.postingProject.handle }}/post/{{ post.filename }}">
            <h3>
                {{ post.headline }}
            </h3>
        </a>
    </div>
    {% endif -%}

    {%- set rendered = rendered_posts[post.postId] -%}
    {%- if rendered.full -%}
    <div class="i-expandable has-css-state">
        {% set id = "post-expanded-" ~ post.postId -%}
        <input
            class="i-expanded-state"
            type="checkbox"
            id="{{ id }}"
            {% if expand -%}
            checked
            {%- endif %}
        />
        <div class="i-post-body i-preview {{ rendered.className }}">
            {{ rendered.preview | safe }}
            <label class="i-read-more co-read-more-read-less" for="{{ id }}">read more</label>
        </div>
        <div class="i-post-body i-full {{ rendered.className }}">
            {{ rendered.full | safe }}
            <label class="i-read-less co-read-more-read-less" for="{{ id }}">read less</label>
        </div>
    </div>
    {%- else -%}
    <div class="i-post-body {{ rendered.className }}">
        {{ rendered.preview | safe }}
    </div>
    {%- endif -%}

    {%- if post.tags | length -%}
    <div class="i-tags">
        {%- for tag in post.tags -%}
        <a class="i-tag" href="/rc/tagged/{{ tag | urlencode_strict }}">
            #{{tag}}
        </a>
        {%- endfor -%}
    </div>
    {%- endif -%}
</div>
{% endmacro %}

{% macro co_post_collapser(post, expand) %}
{%- if post.singlePostPageUrl == "https://cohost.org/" -%}
<div class="co-post-tombstone">
    <div class="co-info-box is-tombstone i-exclam-circle-icon">
        {#- we don’t actually know if deleted or unpublished, but it doesn’t really matter that much -#}
        Sorry! This post has been deleted by its original author.
    </div>
</div>
{%- else -%}

{%- set collapsed = false -%}
{%- if post.cws | length -%}
    {%- set collapsed = true -%}
{%- endif -%}
{%- if post.effectiveAdultContent -%}
    {%- set collapsed = true -%}
{%- endif -%}

{%- if collapsed -%}
<div class="co-post-collapser has-css-state">
    {% set id = "post-collapser-" ~ post.postId -%}
    <input class="i-expanded-state" type="checkbox" id="{{ id }}" />

    <div class="i-collapsed">
        {% if post.effectiveAdultContent %}
        <div class="co-info-box is-18-plus i-info-circle-icon">
            This post contains 18+ content.
        </div>
        {% endif %}
        {% if post.cws | length %}
        <div class="co-info-box is-warning i-shield-exclam-icon">
            <div>
                This post has content warnings for:
                <span class="i-cws">
                    {{ post.cws | join(sep = ", ") }}.
                </span>
            </div>
        </div>
        {% endif %}

        <div class="i-buttons">
            <label class="i-button i-expand-collapsed-button" for="{{ id }}">show post</label>
        </div>

        {% if post.tags | length %}
        <div class="i-tags">
            {%- for tag in post.tags -%}
            <a class="i-tag" href="/rc/tagged/{{ tag | urlencode_strict }}">
                #{{tag}}
            </a>
            {%- endfor -%}
        </div>
        {% endif %}
    </div>

    <div class="i-expanded">
        {% set is_inline_header = false %}
        {% if post.cws | length %}
        <div class="i-collapse-header">
            <div class="co-info-box is-warning i-shield-exclam-icon">
                <div class="i-contents">
                    {% if post.effectiveAdultContent %}
                    <div class="i-adult">
                        This post contains 18+ content.
                    </div>
                    {% endif %}
                    <div class="i-cws">
                    CWs: <span class="i-cws">{{ post.cws | join(sep = ", ") }}.</span>
                    </div>
                </div>
            </div>
            <label class="i-button i-collapse-button" for="{{ id }}">hide post</label>
        </div>
        {% else %}
        {% set is_inline_header = true %}
        <div class="i-collapse-header is-inline">
            <div class="i-headline">
                <a class="prose" href="/{{ post.postingProject.handle }}/post/{{ post.filename }}">
                    <h3>
                        {{ post.headline }}
                    </h3>
                </a>
            </div>
            <div class="co-info-box is-18-plus">18+</div>
            <label class="i-button i-collapse-button" for="{{ id }}">hide post</label>
        </div>
        {% endif %}

        {{ post::co_post_contents(post = post, expand = expand, skip_headline = is_inline_header) }}
    </div>
</div>
{%- else -%}
{{ post::co_post_contents(post = post, expand = expand, skip_headline = false) }}
{%- endif -%}

{%- endif -%}
{% endmacro %}

{% macro co_thread_item(post, expand) %}
<div class="co-thread-item" id="post-{{ post.postId }}">
    <div class="i-header">
        {{ post::co_post_header(post = post, show_shared_from = false) }}
    </div>
    {{ post::co_post_collapser(post = post, expand = expand) }}
</div>
{% endmacro co_thread_item %}

{% macro render(post, expand) %}
<article class="co-post-box">
    <div class="co-thread-header">
        {{ post::co_post_header(post = post, show_shared_from = true) }}
        <div class="i-action-button-container"></div>
    </div>

    {% if post.shareTree | length %}
    {% for post in post.shareTree %}
    {% if post.transparentShareOfPostId %}
    {% continue %}
    {% endif %}
    <hr class="co-hairline" />
    {{ post::co_thread_item(post = post, expand = false) }}
    {% endfor %}
    {% if post.transparentShareOfPostId %}
    {% if post.tags | length %}
    <hr class="co-hairline" />
    <div class="i-transparent-share-tags">
        <div class="i-header">
            <a class="i-handle" href="/{{ post.postingProject.handle }}">@{{ post.postingProject.handle }}</a>
            shared with:
        </div>
        <div class="i-tags">
            {%- for tag in post.tags -%}
            <a class="i-tag" href="/rc/tagged/{{ tag | urlencode_strict }}">
                #{{tag}}
            </a>
            {%- endfor -%}
        </div>
    </div>
    {% endif %}
    {% else %}
    <hr class="co-hairline" />
    {{ post::co_thread_item(post = post, expand = expand) }}
    {% endif %}
    {% else %}
    <hr class="co-hairline" />
    <div id="post-{{ post.postId }}"></div>
    {{ post::co_post_collapser(post = post, expand = expand) }}
    {% endif %}

    <hr class="co-hairline" />

    <div class="co-thread-footer">
        <div class="i-comments">
            <a href="/{{ post.postingProject.handle }}/post/{{ post.filename }}#comments">
                {{ post.numComments }} comment{{ post.numComments | pluralize }}
                {% if post.numSharedComments %}
                + {{ post.numSharedComments }} on shared posts
                {% endif %}
            </a>
        </div>
    </div>
</article>
{% endmacro %}

{% macro render_preview(post) %}
<div class="co-post-preview">
    <a
        class="i-large-avatar co-drop-shadow"
        href="/{{ post.postingProject.handle }}"
        title="@{{ post.postingProject.handle }}"
    >
        <img
            class="co-avatar i-avatar"
            data-shape="{{ post.postingProject.avatarShape }}"
            src="{{ post.postingProject.avatarURL }}"
            alt="{{ post.postingProject.handle }}"
        />
    </a>
    {{ post::render(post = post, expand = false) }}
</div>
{% endmacro %}
