{% import "project_sidebar.html" as project_sidebar %}
{% import "pagination_eggs.html" as pagination_eggs %}
{% import "post.html" as post %}
{% extends "base.html" %}

{% block title %}
cohost archive! - {{ project.handle }}
{% endblock title %}

{% block base_header %}
{% if project.headerURL %}
<img
    class="profile-header-image co-container"
    src="{{ project.headerURL }}"
    alt=""
    role="presentation"
/>
{% endif %}
{% endblock base_header %}

{% block base_contents %}
{{ project_sidebar::project_sidebar(project = project, description = rendered_project_description) }}

<div class="page-contents">
    {% set b = "/" ~ project.handle -%}
    {% if tagged %}
    {% set_global b = "/" ~ project.handle ~ "/tagged/" ~ tagged | urlencode -%}
    <div class="project-profile-tagged-header">
        <h4>posts from @{{ project.handle }} tagged #{{ tagged }}</h4>
        <h6>also:</h6>
        <div>
            <a class="i-from-all-pages" href="/rc/tagged/{{ tagged }}">
                view posts from all pages tagged #{{ tagged }}
            </a>
        </div>
    </div>
    {% else %}
    <div class="project-profile-filters">
        <div class="i-filter" data-state="{{ filter_state.query.hideShares }}">
            <a class="i-state" href="{{ b ~ filter_state.onShowShares }}">
                <span class="i-state">show</span> <span class="i-label">shares</span>
            </a>
            <a class="i-state" href="{{ b ~ filter_state.onHideShares }}">
                <span class="i-state">hide</span> <span class="i-label">shares</span>
            </a>
        </div>
        <div class="i-filter" data-state="{{ filter_state.query.hideReplies }}">
            <a class="i-state" href="{{ b ~ filter_state.onShowReplies }}">
                <span class="i-state">show</span> <span class="i-label">replies</span>
            </a>
            <a class="i-state" href="{{ b ~ filter_state.onHideReplies }}">
                <span class="i-state">hide</span> <span class="i-label">replies</span>
            </a>
        </div>
        <div class="i-filter" data-state="{{ filter_state.query.hideAsks }}">
            <a class="i-state" href="{{ b ~ filter_state.onShowAsks }}">
                <span class="i-state">show</span> <span class="i-label">asks</span>
            </a>
            <a class="i-state" href="{{ b ~ filter_state.onHideAsks }}">
                <span class="i-state">hide</span> <span class="i-label">asks</span>
            </a>
        </div>
    </div>
    {% endif %}
    <div class="project-profile-posts">
        {% for post in posts %}
        {{ post::render(post = post, expand = false) }}
        {% endfor %}

        {{ pagination_eggs::pagination_eggs(base = b, prev_page = filter_state.onPrevPage, next_page = filter_state.onNextPage) }}
    </div>
</div>

{{ project_sidebar::project_sidebar_alt(project = project) }}
{% endblock base_contents %}
