{% import "project_sidebar.html" as project_sidebar %}
{% import "post.html" as post %}
{% import "comments.html" as comments %}
{% extends "base.html" %}

{% block title %}
    {% set post_title = post.headline -%}
    {%- if not post_title -%}
    {%- set post_title = "post from @" ~ post.postingProject.handle -%}
    {%- endif -%}
    cohost archive! - {{ post_title }}
{% endblock title %}

{% block base_header %}
{% if post.postingProject.headerURL %}
<img
    class="profile-header-image co-container"
    src="{{ post.postingProject.headerURL }}"
    alt=""
    role="presentation"
/>
{% endif %}
{% endblock base_header %}

{% block base_contents %}
{{ project_sidebar::project_sidebar(project = post.postingProject, description = rendered_project_description) }}

<div class="page-contents">
    <div class="single-post-container">
        {{ post::render(post = post, expand = true) }}

        <div id="comments">
            {% for post in post.shareTree %}
                {{ comments::render(post = post, comments = comments[post.postId]) }}
            {% endfor %}

            {{ comments::render(post = post, comments = comments[post.postId]) }}
        </div>
    </div>
</div>

{{ project_sidebar::project_sidebar_alt(project = post.postingProject) }}
{% endblock base_contents %}
